<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>670117407869-u22veujk4thi0sj318vddv6fpfvuaf71.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.670117407869-u22veujk4thi0sj318vddv6fpfvuaf71</string>
	<key>API_KEY</key>
	<string>$(FIREBASE_API_KEY)</string>
	<key>GCM_SENDER_ID</key>
	<string>670117407869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.tcsbank.TinkoffChat</string>
	<key>PROJECT_ID</key>
	<string>t-messenger-a66ec</string>
	<key>STORAGE_BUCKET</key>
	<string>t-messenger-a66ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:670117407869:ios:a2266d543cf3ccb58d9514</string>
	<key>DATABASE_URL</key>
	<string>https://t-messenger-a66ec.firebaseio.com</string>
</dict>
</plist>
